@media screen and (max-width: 480px){
  .container-skills{
    background-image: url('../../assets/contact.jpg');
    background-size: 290% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1%;
    color: white;
  }
  .star-wars {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 30%;
    margin-left: 3%;
    width: 65%;
  }
  .crawl {
    width: 70%;
    height: 20%;
    animation: crawl 2s ease 1;
    text-shadow: 0 0 30px #0e639c, 0 0 40px #0e639c, 0 0 10px #0e639c;
    transition: text-shadow 0.2s ease-in-out;
    font-family: pixel;
    letter-spacing: 1%;
    font-size: 0.8rem;
  }
  @keyframes crawl {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  } 
  .title {
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
  }
  .title1{
    opacity: 0;
  }
  .skills {
    width: 150%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
  }
  .skills1{
    opacity: 0;
  }
  .containerImg {
    width: 65px;
    height: 65px;
    margin-left: 3%;
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.336);
    padding: 1%;
    border-radius: 12px;
    border: 2px solid #62adefce;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;
  }
  .image-description {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: transparent;
    color: white;
    padding: 2%;
    font-size: 1.6em;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 12px;
    white-space: normal;
    opacity: 0;
  }
  
  .image-description:hover {
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: #263846; 
    box-sizing: border-box;
    word-wrap: break-word;
    color: white; 
    opacity: 1;
    cursor: pointer;
  }

}
@media screen and (min-width: 1200px){
  .container-skills{
    background-image: url('../../assets/contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .star-wars{
    position: absolute;
    width: 55%;
    height: 75%;
    top: 8%;
    left: 1%;
    overflow: hidden;
    padding: 0;
  }
  .crawl {
    width: 100%;
    height: 100%;
    animation: crawl 2s ease 1;
    text-shadow: 0 0 30px #0e639c, 0 0 40px #0e639c, 0 0 10px #0e639c;
    transition: text-shadow 0.2s ease-in-out;
    font-family: pixel;
    letter-spacing: 1%;
    font-size: 0.8rem;
    background-color: transparent;
  }
  @keyframes crawl {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  } 
  .title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
  }
  .skills {
    width: 100%;
    height: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    background-color: transparent;
  }
  .title1{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
  }
  .skills1 {
    width: 100%;
    height: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    background-color: transparent;
  }
  .containerImg {
    width: 80px;
    height: 80%;
    margin-left: 3%;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 12px;
    border: 2px solid #62adefce;
    overflow: hidden;
  }
  .image-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 12px;
    white-space: normal;
  }
  .image {
    width: 100%;
    height: 80%;
    padding: 2%;
  }
  .containerImg:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
