.container-contact {
  background-image: url('../../assets/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 1%;
  color: white;
}

.crawl {
  width: 50%;
  height: 25%;
  animation: crawl 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1;
  text-shadow: 0 0 30px #0e639c, 0 0 40px #0e639c, 0 0 10px #0e639c;
  transition: text-shadow 0.2s ease-in-out;
  font-family: pixel;
  letter-spacing: 1%;
  font-size: 0.8rem;
}
@keyframes crawl {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(9%);
  }
} 

.iconStyle {
  font-size: 45px;
  margin-left: 7%;
  color: white;
}
.iconStyle:hover {
  transform: scale(1.2);
  color: #3f72ab;
}

.star-wars {
  padding: 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-left: 3%;
}

.skills {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 35%;
}
.containerImg {
  width: 65px;
  height: 65px;
  margin-left: 3%;
  background-color: rgba(255, 255, 255, 0.336);
  padding: 1%;
  border-radius: 12px;
  border: 2px solid #62aeef;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}
.image-description {
  position: absolute;
  left: 22%;
  bottom: 100%;
  color: white;
  padding: 0;
  width: auto;
  height: auto;
  font-size: 20px;
  background-color: #0e639c;
  z-index: 15;
  font-weight: bold;
}