.container-contact {
  background-image: url('../../assets/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95.5vh;
  padding: 1%;
  color: white;
}

.iconStyle {
  font-size: 45px;
  color: #d5dbdb;
  margin-left: 5%;
}

.star-wars {
  padding: 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-left: 20%;
}

.crawl {
  width: 20%;
  height: 20%;
  padding: 1rem;
  animation: crawl 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1;
}

@keyframes crawl {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(40%);
  }
}
