.container-home {
  height: 98vh;
  width: 99%;
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0.4%;
  color: white;
}
.astronout {
  position: absolute;
  z-index: 10;
  height: 40vh;
  width: 20%;
  left: 70%;
  bottom: 25%;
  background-image: url('../../assets/astronout.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: traslate 4s ease infinite;
}
@keyframes traslate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.astronout2 {
  position: absolute;
  z-index: 10;
  height: 40vh;
  width: 20%;
  left: 50%;
  top: 1%;
  background-image: url('../../assets/astronout1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: traslate2 10s ease infinite;
}
@keyframes traslate2 {
  0%, 100% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1);
  }
}
.animate-bg:before, .animate-bg:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #aff072, #8d01a0, #031ba5,#81be76,#da5c82,  
	#e6036d, #db4fa1,#ff6600, #58d6ec,#e4e46e, #00c3ff);
	background-size: 300%;
	width: calc(100% + 15px);
	height: calc(100% + 15px);
	z-index: -1;
	/* animation: BGgradient 15s ease infinite;  */
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}

.container-info-home {
  position: absolute;
  z-index: 20px;
  width: 50%;
  height: 55vh;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  top: 20%;
  left: 2%;
  background-color: #0b043094;
  border-radius: 18px;
  padding-top: 1%;
  border: 0.8px solid #0dfef8;
}
.custom-span {
  display: block;
  width: 60%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'cursive';
}

.container-link {
  display: flex;
  margin-top: 2%;
  margin-left: 15%;
}

.icon {
  color: #2cc9fc;
  font-size: 45px;
  margin-left: 7%;
}

.container-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  text-decoration: none;
  font-family: cursive;
  font-weight: bold;
  color: white;
}
