.container-home {
  height: 98vh;
  width: 99%;
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: pixel;
  margin: 0.4%;
}
.animate-bg:before, .animate-bg:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #aff072, #8d01a0, #031ba5,#81be76,#da5c82,  
	#e6036d, #db4fa1,#ff6600, #58d6ec,#e4e46e, #00c3ff);
	background-size: 300%;
	width: calc(100% + 15px);
	height: calc(100% + 15px);
	z-index: -1;
	/* animation: BGgradient 15s ease infinite;  */
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}

@keyframes openWindows {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.window {
  position: absolute;
  top: 8%;
  left: 2%;
  width: 60%;
  height: 80%;
  border: 2px solid #bc9f8b;
  border-radius: 1em;
  background-color: #86b1e08e;
  pointer-events: none;
  animation: openWindows 1s ease 1 forwards;
  opacity: 0;
}

.title-bar {
  background-color: #62aeef;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  margin-left: 10px;
}

.buttons {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.minimize {
  padding: 0.5%;
  background-color: #ffff00;
}

.button.maximize {
  padding: 0.5%;
  background-color: #00ff00;
}

.button.close {
  padding: 0.5%;
  background-color: #ff0000;
}

.content {
  padding: 2%;
}


