.Container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 2rem;
}

.image {
  height: 30em;
  width: 30em;
  border-radius: 2em;
}

h2 {
  margin-left: 10px;
}
