@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


@media screen and (max-width: 480px) {
  .slider .slide {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .slide img {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
  }

  .slide.active img {
    width: 100%;
    left: 0;
    opacity: 1;
    transition: 0.8s ease;
  }

  .slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
  }

  .slide.active .left-info {
    transform: translateX(0);
    transition: 0.8s ease;
    z-index: 2;
  }

  .left-info .penetrte-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 100%;
  }

  .penetrte-blur h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5);
  }

  .left-info .content {
    position: absolute;
    top: 43%;
    left: 10%;
    width: 180%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content h3 {
    font-size: 2rem;
  }

  .content p {
    width: 100%;
    height: 8.8vh;
    font-size: 16px;
    margin-top: 2%;
  }

  .content .btn {
    width: 50%;
    margin-top: 3%;
    display: inline-block;
    padding: 1.3rem 2.8rem;
    background: #fff;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 0.5rem;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.8s ease;
  }

  .content .btn:hover {
    background: transparent;
    color: #fff;
  }

  .slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0s;
    padding-top: 50%;
  }

  .slide.active .right-info {
    transform: translateX(0);
    z-index: 1;
    transition: 0.8s ease;
  }

  .right-info h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, 0.1),
      0 0px 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15),
    ;
  }

  .right-info h3 {
    position: absolute;
    width: 200%;
    height: auto;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(120%);
    left: -100%;
    display: flex;
    justify-content: center;
    z-index: 100;
  }

  .navigation {
    position: absolute;
    bottom: 20%;
    right: 35%;
    z-index: 2;
  }

  .navigation span {
    display: inline-flex;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 2.5rem;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  .navigation span:nth-child(1) {
    background: #fff;
  }

  .navigation span:nth-child(1):hover {
    background: #fff;
  }

  .navigation span i {
    color: #444;
    transition: all .5s ease;
  }

  .navigation span:nth-child(1) i {
    color: #fff;
  }

  .navigation span:nth-child(1):hover i {
    color: #444;
  }

  .modal {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 3;
    width: 80%;
    height: 80vh;
    background-color: #444444;
    border-radius: 12px;
    border: 4px solid #5697cf;
    color: white;
  }

  .close-btn {
    position: absolute;
    left: 88%;
    top: 2%;
    background-color: transparent;
    border: none;
  }

  .close-btn:hover {
    transform: scale(1.1);
  }

  .modal-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    padding-left: 1%;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
  }

  .descriptionTotal {
    color: white;
    font-size: 20px;
    width: 99%;
    height: 100%;
    padding: 3%;
  }

  .disabled {
    opacity: 0;
  }

  .red {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0;
    background-color: #b61212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .container-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #444444;
    padding-top: 1%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .container-icon a {
    margin-left: 1%;
  }

  .status {
    font-size: 20px;
    margin-top: 1%;
  }

  .icon-red {
    font-size: 45px;
    color: white;
  }

  .icon-red:hover {
    transform: scale(1.1);
    color: #62aeef;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #62aeef;
    background-image: url('./image/background.png');
    background-size: 100% 100vh;
  }

  .slider .slide {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .slide img {
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
  }

  .slide.active img {
    width: 50%;
    left: 50%;
    opacity: 1;
    transition: 0.8s ease;
  }

  .slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
  }

  .slide.active .left-info {
    transform: translateX(0);
    transition: 0.8s ease;
    z-index: 2;
  }

  .left-info .penetrte-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .penetrte-blur h1 {
    font-size: 120px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5);
  }

  .left-info .content {
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: #fff;
  }

  .content h3 {
    font-size: 20px;
  }

  .content p {
    font-size: 16px;
    margin: 10px 0 1.5rem;
  }

  .content .btn {
    display: inline-block;
    padding: 1.3rem 2.8rem;
    background: #fff;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.8s ease;
  }

  .content .btn:hover {
    background: transparent;
    color: #fff;
  }

  .slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: 0s;
  }

  .slide.active .right-info {
    transform: translateX(0);
    z-index: 1;
    transition: 0.8s ease;
  }

  .right-info h1 {
    font-size: 120px;
    color: #fff;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, 0.1),
      0 0px 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15),
    ;
  }

  .right-info h3 {
    position: absolute;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(190%);
    margin-left: 1.3rem;
  }

  .navigation {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 2;
  }

  .navigation span {
    display: inline-flex;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 2.5rem;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  .navigation span:nth-child(1) {
    background: #fff;
  }

  .navigation span:nth-child(1):hover {
    background: #fff;
  }

  .navigation span i {
    color: #444;
    transition: all .5s ease;
  }

  .navigation span:nth-child(1) i {
    color: #fff;
  }

  .navigation span:nth-child(1):hover i {
    color: #444;
  }

  .modal {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 3;
    width: 80%;
    height: 80vh;
    background-color: #444444;
    border-radius: 12px;
    border: 4px solid #5697cf;
    color: white;
  }

  .close-btn {
    position: absolute;
    left: 96%;
    top: 2%;
    background-color: transparent;
    border: none;
  }

  .close-btn:hover {
    transform: scale(1.1);
  }

  .modal-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    padding-left: 1%;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
  }

  .descriptionTotal {
    color: white;
    font-size: 20px;
    width: 99%;
    height: 100%;
    padding: 3%;
  }

  .disabled {
    opacity: 0;
  }

  .red {
    position: absolute;
    width: 100%;
    height: 18%;
    top: 90%;
    left: 0;
    background-color: #b61212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .container-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #444444;
    padding-top: 1%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .container-icon a {
    margin-left: 1%;
  }

  .status {
    font-size: 20px;
    margin-top: 1%;
  }

  .icon-red {
    font-size: 45px;
    color: white;
  }

  .icon-red:hover {
    transform: scale(1.1);
    color: #62aeef;
    cursor: url('../../../cursor2.png');
  }
}