@font-face {
  font-family: 'pixel';
  src: url('./assets/font/pixel.ttf') format('truetype');
}
body {
  width: 100%;
  max-height: 98vh;
  margin: 0;
  background-color: '#333333';
}

.container-app {

}
