@font-face {
  font-family: 'title';
  src: url('./assets/font/title.ttf') format('truetype');
}
@font-face {
  font-family: 'description';
  src: url('./assets/font/description.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 0;  /* Ancho de la barra de scroll */
}